<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace = "/fragments/head_tabla :: head"></head>
    <body>
        <header th:replace = "/fragments/header :: header"></header>
        <nav th:replace = "/fragments/navbar :: nav"></nav>
        <div th:replace = "/fragments/modelo :: div"></div>
        <section>
            <div class="container">
                <table class="tabla">
                    <thead>
                        <tr>
                            <th>Id Editorial</th>
                            <th>Nombre del Editorial</th>
                            <th>Libros Asociados</th>
                        </tr>
                    </thead> 
                    <tbody th:each="editorial : ${editoriales}">
                        <tr>
                            <th th:text="${editorial.id}"></th>
                            <td th:text="${editorial.nombre}"></td>
                            <td>
                                <a class="ver" th:href="@{/editorial/listado/__${editorial.id}__}"><i class="fa-regular fa-eye"></i>
                                    Ver</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="btn-volver">
                    <a href="/inicio">Volver</a>
                </div>
            </div>
        </section>
        <footer th:replace = "/fragments/footer :: footer"></footer>
    </body>
</html>


