<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace = "/fragments/head :: head"></head>
    <body>
        <header th:replace = "/fragments/header :: header"></header>
        <nav th:replace = "/fragments/navbar :: nav"></nav>
        <div th:replace = "/fragments/modelo :: div"></div>
        <div class="contain">
            <div class="container-saludo">
                <h2 th:if="${session.usuariosession != null}" th:text="'Hola de vuelta '"></h2> 
                <h2 th:if="${session.usuariosession != null}" th:text="${session.usuariosession.nombre}"></h2>  
                <div class="container-imagen">
                    <a><img th:src="@{/imagen/perfil/__${session.usuariosession.id}__}"></a>  
                </div>
            </div>
        </div> 
        <footer th:replace = "/fragments/footer :: footer"></footer>
    </body>
</html>
