<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace = "/fragments/head_formulario :: head"></head>
    <body>
        <header th:replace = "/fragments/header :: header"></header>
        <div th:replace = "/fragments/modelo :: div"></div>
        <section class="container-formulario">     
            <div class="form-container">
                <form th:action= "@{/logincheck}" method="POST">
                    <h2>Accede a la Biblioteca</h2>
                    <div class="input">
                        <input type="email" name="email" placeholder="Ingrese el Email" class="text-name" th:value="${email}">
                    </div>
                    <div class="input">
                        <input type="password" name="password" placeholder="Ingrese la contraseña" class="text-name" th:value="${password}">
                    </div>

                    <div class="btn-subir">
                        <button type="submit">Ingresar</button>
                </form>
                <div class="btn-volver">
                    <a th:href="@{/}">Volver</a>
                </div>
            </div>
        </section>           
        <footer>
            <footer th:replace = "/fragments/footer :: footer"></footer>
        </footer>
    </body>
</html>


